{% extends "layout.html" %}

{% block content %}
<h2 style="text-align: center; margin-top: 15px;">Courses Offering {{ term }}</h2>

<div class="container">
    <table class="table table-sm">
        <thead style="background-color: aquamarine;">
          <tr>
            <th scope="col">CourseID</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Credits</th>
            <th scope="col">Term</th>
            <th scope="col">Enroll</th>
          </tr>
        </thead>
        <tbody>

            {% for data in courseData %}
            <tr>
                <th scope="row">{{ data["courseID"] }}</th>
                <td>{{ data["title"] }}</td>
                <td>{{ data["description"] }}</td>
                <td>{{ data["credits"] }}</td>
                <td>{{ data["term"] }}</td>
                <td>
                  <form action="{{url_for('enrollment')}}" method="POST">
                      <input type="hidden" name="courseID" value="{{data['courseID']}}">
                      <input type="hidden" name="title" value="{{data['title']}}">
                      <input type="hidden" name="term" value="{{data['term']}}">
                      <button type="submit" class="btn btn-primary">Enroll</button>
                  </form> 
                </td>
            </tr>
            {% endfor %}
          
        </tbody>
      </table>
</div>

{% endblock %}