<div class="container container-nav" style="font-weight: bold;">
  <ul class="nav nav-pills nav-fill" style="margin-top: 15px;">
      <li class="nav-item">
        <a class="nav-link {% if index %} active {% endif %}" href="{{ url_for('index') }}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if courses %} active {% endif %}" href="{{ url_for('courses') }}">Classes</a>
      </li>

      <!-- {% if not session['username'] %}
      <li class="nav-item">
        <a class="nav-link {% if register %} active {% endif %}" href="{{ url_for('register') }}">Register</a>
      </li>
      {% endif %} -->

      <li class="nav-item">
        <a class="nav-link {% if enrollment %} active {% endif %}" href="{{ url_for('enrollment') }}">Enrollment</a>
      </li>

      {% if not session['username'] %}
      <li class="nav-item">
        <a class="nav-link {% if register %} active {% endif %}" href="{{ url_for('register') }}">Register</a>
      </li>
      {% endif %}

      {% if not session['username'] %}
      <li class="nav-item">
        <a class="nav-link {% if login %} active {% endif %}" href="{{ url_for('login') }}" tabindex="-1">Login</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('logout') }}" tabindex="-1">Logout</a>
      </li>
      {% endif %}
  </ul>
</div>